$rr: "Roboto-Regular", sans-serif;
$rb: "Roboto-Bold", sans-serif;
$rbl: "Roboto-Black", sans-serif;
$osr: "OpenSans-Regular", sans-serif;
$osb: "OpenSans-Bold", sans-serif;
$osi: "OpenSans-italic", sans-serif;
$ossb: "OpenSans-Semibold", sans-serif;
$ossbi: "OpenSans-Semibolditalic", sans-serif;
$osbi: "OpenSans-Bolditalic", sans-serif;
$fr: "Forum-Regular";
$col1: #89a500;
